*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
  background-image: url(https://wallpaperaccess.com/full/210888.jpg);
  background-size: cover;
  overflow-x: hidden;
}